/* Variables - kintamieji */
:root {
  --text-main-color: #999999;
  --text-color-light: #c9c9c9;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
  --primary: #a2c0be;
  --primary-hover: #769694;
  --dark: rgb(32, 32, 32);
  --white: #fff;
}
.reviews {
  padding-bottom: 4%;
}
.overflow-h {
  overflow: hidden;
}

.reviews-grid {
  transition: transform 1s ease-in-out;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  gap: 2rem;
}
.reviews-grid:hover {
  transform: translateX(-300px);
}

.review {
  text-align: center;
}

.review__text {
  background-color: var(--primary);
  color: var(--dark);
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 3rem;
  position: relative;
  box-shadow: 5px 5px 10px var(--primary-hover);
  z-index: 2;
}

.review__text::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  /* http://apps.eky.hk/css-triangle-generator/ */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: var(--primary) transparent transparent transparent;
}

.review__img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 10px solid var(--primary);
}

.review__title {
  font-weight: normal;
  font-size: 1.2rem;
  padding-top: 0.7em;
}
